body {
  margin: 0;
}

.link {
  text-decoration: none;
  margin-left: auto;
}

.cairoFont {
  font-family: 'Cairo', sans-serif;
}

.btn {
  margin-left: auto !important;
}

.yellow {
  background-color: rgb(255, 255, 0, 0.8) !important;
}
